extends ../layouts/common.pug

block header
    title Danh sách luyện đề
block content
    h3 Tạo đề mới
    form(action="/tests/create", method="POST")
        .form-group
            label Tên
            input.form-control(name='name', type='text', required)
        .form-row.row-cols-2
            .col.form-group
                label Ngày
                input.form-control(name='date', type='date', required)
        .form-row.row-cols-2
            .col.form-group
                label Thang điểm
                input.form-control(name='total', type='number', inputmode='decimal')
            .col.form-group
                label Link
                input.form-control(name='link', type='url', placeholder="https://drive.google.com/file/d/TEN-FILE/view?usp=sharing", pattern="https://drive.google.com/file/d/.*")
        .form-group
            label Ghi chú
            textarea.form-control(name="note")
        .row.row-cols-2#navbar-bottom
            .col
                button.btn.btn-primary.w-100(type='submit') Thêm
            .col
                button.btn.btn-success.w-100(onclick="window.history.back()") Quay lại