html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style(type='text/css').
            body {
                background: rgb(234,255,222);
                background: -moz-linear-gradient(0deg, rgba(234,255,222,1) 0%, rgba(255,255,255,1) 100%);
                background: -webkit-linear-gradient(0deg, rgba(234,255,222,1) 0%, rgba(255,255,255,1) 100%);
                background: linear-gradient(0deg, rgba(234,255,222,1) 0%, rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaffde",endColorstr="#ffffff",GradientType=1);   
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                min-height:100%;
                position:relative;
            }
            body::after{ content:''; display:block; height:100px; }
            .table, .card:hover {
                -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
            }
            .bg-nav {
                background: #eaffde;
            }
            .card:hover {
                position: relative;
                bottom: 1px;
            }
            .progress-bar:hover {
                color:white !important;
            }
            .footer {
                background: #cdf3b8;
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
            }
            .slider {
                -webkit-appearance: none;
                margin-top: 7px;
                width: 100%;
                height: 24px;
                border-radius: 10px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 36px;
                height: 36px;
                border-radius: 50%; 
                background: #4CAF50;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background: #4CAF50;
                cursor: pointer;
            }
            /* The container */
            .container-checkbox {
                display: block;
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /* Hide the browser's default checkbox */
            .container-checkbox input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            label.container-checkbox {
                margin: 0;
            }
            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
            }

            /* On mouse-over, add a grey background color */
            .container-checkbox:hover input ~ .checkmark {
                background-color: #ccc;
            }

            /* When the checkbox is checked, add a blue background */
            .container-checkbox input:checked ~ .checkmark {
                background-color: #4CAF50;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the checkmark when checked */
            .container-checkbox input:checked ~ .checkmark:after {
                display: block;
            }

            /* Style the checkmark/indicator */
            .container-checkbox .checkmark:after {
                left: 7px;
                top: 3px;
                width: 10px;
                height: 15px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            @media screen and (max-width: 576px) {
                #navbar-bottom {
                    -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
                    border-radius: 15px 15px 0px 0px;
                    z-index: 1;
                    opacity: 0.98;
                    background-color: #eaffde;
                    position: fixed;
                    padding: 5px;
                    bottom: 0;
                    width: 100%;
                    transition: bottom 0.3s;
                }
                #navbar-bottom .col {
                    padding: 0 5px;
                }
            }
        block header
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-nav
            if (user)
                a.navbar-brand(href='/user/'+user.username)= user.username
            else
                a.navbar-brand(href='/') VLSN
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/') Trang chủ 
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#", id="navbarDropdown", role="button", data-toggle="dropdown") Học sinh
                        .dropdown-menu
                            a.dropdown-item(href='/students') Danh sách
                            a.dropdown-item(href="/students/create") Thêm mới
                    li.nav-item
                        a.nav-link(href='/classes') Lớp học
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#", id="navbarDropdown", role="button", data-toggle="dropdown") Trợ giảng
                        .dropdown-menu
                            a.dropdown-item(href='/lessons') Sổ trợ giảng
                            a.dropdown-item(href='/lessons/create') Thêm mới
                            a.dropdown-item(href='/lessons/register') Đăng ký
                            a.dropdown-item(href='/lessons/analyse') Thống kê
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#", id="navbarDropdown", role="button", data-toggle="dropdown") Bản ghi
                        .dropdown-menu
                            a.dropdown-item(href='/records') Danh sách
                            a.dropdown-item(href='/records/create') Thêm mới
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#", id="navbarDropdown", role="button", data-toggle="dropdown") Buổi học
                        .dropdown-menu
                            a.dropdown-item(href='/periods') Danh sách
                            a.dropdown-item(href='/periods/create') Thêm mới
 
                    li.nav-item
                        a.nav-link(href='/user/') Tài khoản
        .container.pt-1.pt-md-5
            if (messages)
                each message in messages
                    .alert.alert-dismissible.fade.show(role='alert', class='alert-'+message[0])
                        span= message[1]
                        if (message[2])
                            a.ml-1.alert-link(href=message[2])
                                svg.bi.bi-pencil-square(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                                    path(fill-rule='evenodd', d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z')

                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') &times;
            block content
            
        .p-1.footer
            | © 2020 - Nguyen Dang Tuan Anh
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous')
        script(type='text/javascript', src='/navbar-scroll.js')
        block script