html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style(type='text/css').
            body {
                background: rgb(234,255,222);
                background: -moz-linear-gradient(0deg, rgba(234,255,222,1) 0%, rgba(255,255,255,1) 100%);
                background: -webkit-linear-gradient(0deg, rgba(234,255,222,1) 0%, rgba(255,255,255,1) 100%);
                background: linear-gradient(0deg, rgba(234,255,222,1) 0%, rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaffde",endColorstr="#ffffff",GradientType=1);   
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                min-height:100%;
                position:relative;
            }
            body::after{ content:''; display:block; height:100px; }
            .table, .card:hover {
                -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);0px 10px 0px rgba(0,0,0,0.75);
            }
            .bg-nav {
                background: #eaffde;
            }
            .card:hover {
                position: relative;
                bottom: 5px;
            }
            .progress-bar:hover {
                color:white !important;
            }
            .footer {
                background: #cdf3b8;
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
            }
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-nav
            a.navbar-brand(href='#')=user?user.username:'VLSN'
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/') Trang chủ 
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#", id="navbarDropdown", role="button", data-toggle="dropdown") Học sinh
                        .dropdown-menu
                            a.dropdown-item(href='/students') Danh sách
                            a.dropdown-item(href="/students/create") Thêm mới
                    li.nav-item
                        a.nav-link(href='/classes') Lớp học
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href="#", id="navbarDropdown", role="button", data-toggle="dropdown") Trợ giảng
                        .dropdown-menu
                            a.dropdown-item(href='/lessons') Sổ trợ giảng
                            a.dropdown-item(href='/lessons/create') Thêm mới
                            a.dropdown-item(href='/lessons/analyse') Thống kê
                    li.nav-item
                        if user
                            a.nav-link(href='/user/'+user.username) Tài khoản
                        else
                            a.nav-link(href='/auth/login') Đăng nhập
        .container.pt-5
            if (messages)
                - for (const [key, value] of Object.entries(messages))
                    .alert.alert-dismissible.fade.show(role='alert', class='alert-'+key)
                        span= value
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') &times;
            block content
        .p-1.footer
            | © 2020 - Nguyễn Đăng Tuấn Anh
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous')
        block script