extends ../layouts/common.pug
block content
    h1 Thêm học sinh đi trợ giảng
    if errors
        each error in errors
            .alert.alert-danger= error
    form(action='')
        .form-row
            .input-group.col-md-6.mb-3
                .input-group-prepend
                    span#inputGroup-sizing-default.input-group-text Tên
                input#n.form-control(autocomplete='off')
            .input-group.col-md-6.mb-3
                button.btn.btn-secondary Tìm ID nhanh
        #list-students.card
        
    form(action="/lessons/create", method="POST")
        .form-group
            label(for="id") ID học sinh
            input#id.form-control(name="id", type="number", required)
        .form-row
            .form-group.col-md-6.mb-3
                label Ngày
                input.form-control(name="date", type="date", value=time.date, required)
            .form-group.col-md-6.mb-3
                label Loại
                select.form-control(name="type")
                    option(value="", hidden, selected) Loại
                    option(value="study") Học lý thuyết
                    option(value="exercise") Làm bài tập
        .form-row
            .form-group.col-md-6.mb-3
                label Bắt đầu
                input.form-control(name="start_time", type="time", value=time.time)
            .form-group.col-md-6.mb-3
                label Kết thúc
                input.form-control(name="end_time", type="time")
        .form-group
            label(for="topic") Chủ đề
            input#input.form-control(name="topic", type="text")
        .form-group
            label Nhận xét của trợ giảng
            textarea.form-control(name="comment_of_tutor")
        .form-group
            label Góp ý của học sinh
            textarea.form-control(name="comment_of_student")
        button.btn.btn-primary Create
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
        script(type='text/javascript', src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
        script(type='text/javascript', src='/student.search.js')