extends ../layouts/common.pug
block content
    h4 Sửa buổi trợ giảng
    if errors
        each error in errors
            .alert.alert-danger= error        

    form(action="/lessons/edit", method="POST")
        .form-group
            label(for="id") ID buổi trợ giảng
            input#id.form-control(name="id", type="text", value= lesson._id, readonly)
        .form-row
            .form-group.col-md-6.mb-2
                label(for="id") ID học sinh
                input#id.form-control(name="student_id", type="number", value= lesson.student_id.id, readonly)
            .form-group.col-md-6.mb-2
                label Ngày
                input.form-control(name="date", type="date", value= lesson.date, required)
            .form-group.col-md-6.mb-2
                label Loại
                select.form-control(name="type")
                    option(value=lesson.type, hidden, selected)= lesson.type || Loại
                    option Lý thuyết
                    option Bài tập
            .form-group.col-md-6.mb-2
                label Số bài tập
                input.form-control(name="total_problems", type="number" value= lesson.total_problems)
        .form-row.row-cols-2
            .form-group.col-md-6.mb-2
                label Bắt đầu
                input.form-control(name="start_time", type="time", value= (lesson.time.start_hour<10?'0':'') + lesson.time.start_hour + ':' + (lesson.time.start_minute<10?'0':'') + lesson.time.start_minute)
            .form-group.col-md-6.mb-2
                label Kết thúc
                input.form-control(name="end_time", type="time", value= lesson.time.end_hour ? (lesson.time.end_hour<10?'0':'') + lesson.time.end_hour + ':' + (lesson.time.end_minute<10?'0':'') + lesson.time.end_minute : '')
        .form-group
            label(for="topic") Chủ đề
            input#input.form-control(name="topic", type="text", value= lesson.topic)
        .form-row.row-cols-1.row-cols-md-2
            .col.form-group.mb-2
                label Đánh giá
                input.form-control-range#rating.slider(type='range', min=0, max=10, value= lesson.rating)
            .col.form-group.mb-2
                label Điểm
                input.form-control(name="rating", type='number', min=0, max=10, value= lesson.rating)
        .form-group
            label Nhận xét của trợ giảng
            textarea.form-control(name="comment_of_tutor")= lesson.comment_of_tutor
        .form-group
            label Góp ý của học sinh
            textarea.form-control(name="comment_of_student")= lesson.comment_of_student
        .row.row-cols-2
            .col
                button.btn.btn-primary.w-100(type='submit') Lưu
            .col
                a.btn.btn-light.w-100(href='/lessons/view/'+lesson._id) Hủy
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(type='text/javascript', src='/student.search.js')
    script(type='text/javascript', src='/lesson.rating.js')