extends ../layouts/common.pug
block header
    title Danh sách HS đăng ký trợ giảng
block content
    h3 Hẹn trợ giảng
    if lessons.length > 0
        table.table.table-hover.text-center
            thead
                tr
                    th Tên
                    th Ngày
                    th Giờ
                    th
                        svg.bi.bi-three-dots(width='1.5em', height='1.5em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z')
                        span.d-none.d-md-inline.ml-2 Thao tác
            each lesson in lessons
                tr
                    td
                        a.text-dark(href="/lessons/view/" + lesson._id)= lesson.student_id.name
                    td= lesson.date
                    td= lesson.time.start_hour + (lesson.time.start_minute<10?':0':':') + lesson.time.start_minute + (lesson.time.end_hour?' - ' + lesson.time.end_hour + (lesson.time.end_minute<10?':0':':') + lesson.time.end_minute:'')
                    td.text-center
                        .row.row-cols-1.row-cols-md-3.no-gutters
                            .col.d-none.d-md-inline
                                a.btn.btn-primary.btn-sm.md-auto.w-100(href="/lessons/view/" + lesson._id)
                                    svg.bi.bi-eye-fill(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z')
                                        path(fill-rule='evenodd', d='M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z')
                            .col
                                a.btn.btn-success.btn-sm.w-100(href="/lessons/edit/" + lesson._id)
                                    svg.bi.bi-pencil-square(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                                        path(fill-rule='evenodd', d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z')
                            .col
                                a.btn.btn-danger.btn-sm.w-100(href='/lessons/delete/' + lesson._id)
                                    svg.bi.bi-trash-fill(width='1em', height='1em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd', d='M2.5 1a1 1 0 0 0-1 1 v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z')

    else
        .alert.alert-warning Không có học sinh đăng ký học trợ giảng trước.