extends ../layouts/common.pug
block content
    h3 Hẹn trợ giảng
    if lessons.length > 0
        table.table.table-hover.text-center
            thead
                tr
                    th Tên
                    th Ngày
                    th Giờ
            each lesson in lessons
                tr
                    td
                        a.text-dark(href='/students/'+lesson.student_id.id)= lesson.student_id.name
                    td= lesson.date
                    td= lesson.time.start_hour + (lesson.time.start_minute<10?':0':':') + lesson.time.start_minute + (lesson.time.end_hour?' - ' + lesson.time.end_hour + (lesson.time.end_minute<10?':0':':') + lesson.time.end_minute:'')
    else
        .alert.alert-warning Không có học sinh đăng ký học trợ giảng trước.