extends ../layouts/common.pug
block content
    if lessons
        table.table
            thead
                tr
                    th Tên học sinh
                    th Bắt đầu
                    th Kết thúc
                    th Loại
                    th Chi tiết
            tbody
                each lesson in lessons
                    tr
                        td
                            a(href="/students/"+lesson.student_id.id)= lesson.student_id.name
                        td= (lesson.time.start_hour) ? lesson.time.start_hour + ':'+ lesson.time.start_minute : ''
                        td= (lesson.time.end_hour) ? lesson.time.end_hour + ':' +lesson.time.end_minute : ''
                        td= (lesson.type == 'study') ? 'Lý thuyết' : 'Bài tập'
                        td 
                            .dropdown
                                button#dropdownMenuButton.btn.btn-light.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                    a.dropdown-item(href="/lessons/view/" + lesson._id) Xem
                                    a.dropdown-item(href="/lessons/edit/" + lesson._id) Sửa
                                    a.dropdown-item(href='/lessons/delete/' + lesson._id) Xóa