extends ./layouts/common.pug
block content
    h1 Thống kê
    p
        b Số học sinh: 
        span= numStudents
    p
        b Số lớp: 
        span= numClasses
    p
        b Số buổi trợ giảng: 
        span= numLessons