doctype html
head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name='description', content='')
	meta(name='author', content='')
	link(href='https://fonts.googleapis.com/css?family=Nunito:100,300,400,500,700,900', rel='stylesheet')
	title WEB QUẢN LÝ HỌC SINH VẬT LÝ SIÊU NHẨM
	//
		SOFTY PINKO
		https://templatemo.com/tm-535-softy-pinko
	// Additional CSS Files
	link(rel='stylesheet', type='text/css', href='//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
	link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@8af0edd/css/all.css')
	link(rel='stylesheet', href='/css/templatemo-softy-pinko.css')
// ***** Preloader Start *****
//- #preloader
//- 	.jumper
//- 		div
//- 		div
//- 		div
// ***** Preloader End *****
// ***** Header Area Start *****
header.header-area.header-sticky
	.container
		.row
			.col-12
				nav.main-nav
					// ***** Logo Start *****
					a.logo(href='#')
						img(src='assets/images/logo.png', alt='VLSN', style="height: 60px; margin-top: -15px; margin-left: 20px;")
					// ***** Logo End *****
					// ***** Menu Start *****
					ul.nav
						li
							a.active(href='#welcome') Trang chủ
						li
							a(href='https://vatlysieunham.com/') Trang chủ VLSN
						li
							if user
								a(href='/dashboard') Trang quản lý
							else
								a(href='/auth/login') Đăng nhập
						li
							a(href='#') About this website
					a.menu-trigger
						span Menu
					// ***** Menu End *****
// ***** Header Area End *****
// ***** Welcome Area Start *****
#welcome.welcome-area
	// ***** Header Text Start *****
	.header-text
		.container
			.row
				.offset-xl-3.col-xl-6.offset-lg-2.col-lg-8.col-md-12.col-sm-12.display-4
					h1
						| Hệ thống quản lý học sinh 
						br.d-inline.d-md-none
						b thông minh
						|  và 
						b hiệu quả
					p.my-0
						| Web được thiết kế để 
						| theo dõi tình hình học tập của học sinh toàn hệ thống VLSN.
						| Thiết kế bởi 
						a.text-white(href="https://www.facebook.com/ngdatuananh/" target="_blank") Đinh Tuấn Anh.
					.mb-4
						if (user)
							a.main-button-slider.mx-1(href='/dashboard') Đến trang quản lý
						else
							a.main-button-slider.mx-1(href='/auth/login') Đăng nhập
						br.d-inline.d-md-none
						a.main-button-slider.mx-1(href='/lessons/register') Đăng ký học trợ giảng
	// ***** Header Text End *****
// ***** Welcome Area End *****
// ***** Features Small Start *****
section.section.home-feature
	.container
		.row
			.col-lg-12
				.row
					// ***** Features Small Item Start *****
					.col-lg-4.col-md-6.col-sm-6.col-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.2s')
						.features-small-item
							.icon.pt-3.text-center
								i.fal.fa-database(style="font-size: 3rem;")
							h5.features-title Cơ sở Dữ liệu
							p Lưu trữ tất tần tật dữ liệu học tập của học sinh.
					// ***** Features Small Item End *****
					// ***** Features Small Item Start *****
					.col-lg-4.col-md-6.col-sm-6.col-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.4s')
						.features-small-item
							.icon.pt-3.text-center
								i.fal.fa-chart-bar(style="font-size: 3rem;")
							h5.features-title Trực quan hóa Dữ liệu
							p Biểu diễn dữ liệu bằng màu sắc, biểu đồ từ những con số khô khan.
					// ***** Features Small Item End *****
					// ***** Features Small Item Start *****
					.col-lg-4.col-md-6.col-sm-6.col-12(data-scroll-reveal='enter bottom move 50px over 0.6s after 0.6s')
						.features-small-item
							.icon.pt-3.text-center
								i.fal.fa-layer-plus(style="font-size: 3rem;")
							h5.features-title Dễ dàng mở rộng
							p Được thiết kế với mục đích dễ mở rộng thêm nhiều chức năng khác.
					// ***** Features Small Item End *****
//- // ***** Features Small End *****
//- // ***** Features Big Item Start *****
//- section#features.section.padding-top-70.padding-bottom-0
//- 	.container
//- 		.row
//- 			.col-lg-5.col-md-12.col-sm-12.align-self-center(data-scroll-reveal='enter left move 30px over 0.6s after 0.4s')
//- 				img.rounded.img-fluid.d-block.mx-auto(src='assets/images/left-image.png', alt='App')
//- 			.col-lg-1
//- 			.col-lg-6.col-md-12.col-sm-12.align-self-center.mobile-top-fix
//- 				.left-heading
//- 					h2.section-title Let&rsquo;s discuss about you project
//- 				.left-text
//- 					p
//- 						| Nullam sit amet purus libero. Etiam ullamcorper nisl ut augue blandit, at finibus leo efficitur. Nam gravida purus non sapien auctor, ut aliquam magna ullamcorper.
//- 		.row
//- 			.col-lg-12
//- 				.hr
//- // ***** Features Big Item End *****
//- // ***** Features Big Item Start *****
//- section.section.padding-bottom-100
//- 	.container
//- 		.row
//- 			.col-lg-6.col-md-12.col-sm-12.align-self-center.mobile-bottom-fix
//- 				.left-heading
//- 					h2.section-title We can help you to grow your business
//- 				.left-text
//- 					p
//- 						| Aenean pretium, ipsum et porttitor auctor, metus ipsum iaculis nisi, a bibendum lectus libero vitae urna. Sed id leo eu dolor luctus congue sed eget ipsum. Nunc nec luctus libero. Etiam quis dolor elit.
//- 			.col-lg-1
//- 			.col-lg-5.col-md-12.col-sm-12.align-self-center.mobile-bottom-fix-big(data-scroll-reveal='enter right move 30px over 0.6s after 0.4s')
//- 				img.rounded.img-fluid.d-block.mx-auto(src='assets/images/right-image.png', alt='App')
//- // ***** Features Big Item End *****
//- // ***** Home Parallax Start *****
//- section#work-process.mini
//- 	.mini-content
//- 		.container
//- 			.row
//- 				.offset-lg-3.col-lg-6
//- 					.info
//- 						h1 Work Process
//- 						p
//- 							| Aenean nec tempor metus. Maecenas ligula dolor, commodo in imperdiet interdum, vehicula ut ex. Donec ante diam.
//- 			// ***** Mini Box Start *****
//- 			.row
//- 				.col-lg-2.col-md-3.col-sm-6.col-6
//- 					a.mini-box(href='#')
//- 						i
//- 							img(src='assets/images/work-process-item-01.png', alt='')
//- 						strong Get Ideas
//- 						span Godard pabst prism fam cliche.
//- 				.col-lg-2.col-md-3.col-sm-6.col-6
//- 					a.mini-box(href='#')
//- 						i
//- 							img(src='assets/images/work-process-item-01.png', alt='')
//- 						strong Sketch Up
//- 						span Godard pabst prism fam cliche.
//- 				.col-lg-2.col-md-3.col-sm-6.col-6
//- 					a.mini-box(href='#')
//- 						i
//- 							img(src='assets/images/work-process-item-01.png', alt='')
//- 						strong Discuss
//- 						span Godard pabst prism fam cliche.
//- 				.col-lg-2.col-md-3.col-sm-6.col-6
//- 					a.mini-box(href='#')
//- 						i
//- 							img(src='assets/images/work-process-item-01.png', alt='')
//- 						strong Revise
//- 						span Godard pabst prism fam cliche.
//- 				.col-lg-2.col-md-3.col-sm-6.col-6
//- 					a.mini-box(href='#')
//- 						i
//- 							img(src='assets/images/work-process-item-01.png', alt='')
//- 						strong Approve
//- 						span Godard pabst prism fam cliche.
//- 				.col-lg-2.col-md-3.col-sm-6.col-6
//- 					a.mini-box(href='#')
//- 						i
//- 							img(src='assets/images/work-process-item-01.png', alt='')
//- 						strong Launch
//- 						span Godard pabst prism fam cliche.
//- 			// ***** Mini Box End *****
//- // ***** Home Parallax End *****
//- // ***** Testimonials Start *****
//- section#testimonials.section
//- 	.container
//- 		// ***** Section Title Start *****
//- 		.row
//- 			.col-lg-12
//- 				.center-heading
//- 					h2.section-title What do they say?
//- 			.offset-lg-3.col-lg-6
//- 				.center-text
//- 					p
//- 						| Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a turpis. Ut sagittis lectus libero.
//- 		// ***** Section Title End *****
//- 		.row
//- 			// ***** Testimonials Item Start *****
//- 			.col-lg-4.col-md-6.col-sm-12
//- 				.team-item
//- 					.team-content
//- 						i
//- 							img(src='assets/images/testimonial-icon.png', alt='')
//- 						p
//- 							| Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a finibus odio.
//- 						.user-image
//- 							img(src='http://placehold.it/60x60', alt='')
//- 						.team-info
//- 							h3.user-name Catherine Soft
//- 							span Managing Director
//- 			// ***** Testimonials Item End *****
//- 			// ***** Testimonials Item Start *****
//- 			.col-lg-4.col-md-6.col-sm-12
//- 				.team-item
//- 					.team-content
//- 						i
//- 							img(src='assets/images/testimonial-icon.png', alt='')
//- 						p
//- 							| Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.
//- 						.user-image
//- 							img(src='http://placehold.it/60x60', alt='')
//- 						.team-info
//- 							h3.user-name Kelvin Wood
//- 							span Digital Marketer
//- 			// ***** Testimonials Item End *****
//- 			// ***** Testimonials Item Start *****
//- 			.col-lg-4.col-md-6.col-sm-12
//- 				.team-item
//- 					.team-content
//- 						i
//- 							img(src='assets/images/testimonial-icon.png', alt='')
//- 						p
//- 							| Quisque diam odio, maximus ac consectetur eu, auctor non lorem. Cras quis est non ante ultrices molestie. Ut vehicula et diam at aliquam.
//- 						.user-image
//- 							img(src='http://placehold.it/60x60', alt='')
//- 						.team-info
//- 							h3.user-name David Martin
//- 							span Website Manager
//- 			// ***** Testimonials Item End *****
//- // ***** Testimonials End *****

//- // ***** Counter Parallax Start *****
//- section.counter
//- 	.content
//- 		.container
//- 			.row
//- 				.col-lg-3.col-md-6.col-sm-12
//- 					.count-item.decoration-bottom
//- 						strong 126
//- 						span Projects
//- 				.col-lg-3.col-md-6.col-sm-12
//- 					.count-item.decoration-top
//- 						strong 63
//- 						span Happy Clients
//- 				.col-lg-3.col-md-6.col-sm-12
//- 					.count-item.decoration-bottom
//- 						strong 18
//- 						span Awards Wins
//- 				.col-lg-3.col-md-6.col-sm-12
//- 					.count-item
//- 						strong 27
//- 						span Countries
//- // ***** Counter Parallax End *****

// ***** Footer Start *****
footer
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12
				ul.social
					li
						a(href='https://www.facebook.com/Vatlysieunham')
							i.fab.fa-facebook
					li
						a(href='https://vatlysieunham.com/')
							i.fas.fa-browser
					li
						a(href='https://www.facebook.com/ngdatuananh/')
							i.fas.fa-user-shield
		.row
			.col-lg-12
				p.copyright Copyright &copy; 2020 Đinh Tuấn Anh - Design: TemplateMo
// jQuery
script(src='//code.jquery.com/jquery-3.5.1.slim.min.js')
// Bootstrap
script(src='//cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js')
script(src='//stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')

