.rounded-border {
    color: white;
    font-size: 40px;
    width: 120px;
    height: 120px;
    text-align: center;
    border: 5px solid white;
    border-radius: 9999px;
}

.btn-insta, .btn-insta:hover {
    color: white;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    border-color: white;
}