extends ../layouts/common.pug
block content
    p Tên: #{matchedUser.name}
    p Role: #{matchedUser.role}
    if currentUserName == matchedUser.username
        p Tên tài khoản: #{matchedUser.username}
        a.btn.btn-danger(href='/auth/logout') Đăng xuất