extends ../layouts/common.pug

block content
    h1 Thêm học sinh mới
    form(action="/students/create", method="POST")
        .form-row
            .form-group.col-md-6.mb-2
                label(for="name") Tên
                input#name.form-control(name="name", type="text", required)
            .form-group.col-md-6.mb-2
                label Ngày sinh
                input.form-control(name="dob", type="date")
        .form-row
            .form-group.col-6
                label Lớp
                select.form-control(name="class", required)
                    option(value="", hidden, selected) Chọn lớp
                    each cla in classes
                        option(value=cla._id)= cla.name
            .form-group.col-6
                label Dán nhãn
                input.form-control(name='tags', type='text', placeholder='mới, yếu,...')
                small.text-muted Mỗi tag cách nhau một dấu ","
        .form-group
            label Ghi chú
            textarea.form-control(name="note")
        .row.row-cols-2
            .col
                button.btn.btn-primary.w-100 Thêm
            .col
                a.btn.btn-light.w-100(href="/students") Hủy