extends ../layouts/common.pug
block content
    h1 Xóa bản ghi
    .card.card-body.text-center
        form(action="/records/delete", method="POST")
            h5.mb-2 Xác nhận xóa bài tập
            .input-group.mb-3
                .input-group-prepend
                    span#inputGroup-sizing-default.input-group-text ID
                input.form-control(name="id", type='text', value= record._id, readonly)
            .input-group.mb-3
                .input-group-prepend
                    span#inputGroup-sizing-default.input-group-text Lớp
                input.form-control(type='text', value= record.class.name, readonly)
            button.btn.btn-danger Xác nhận
            a.btn.btn-light.ml-2(href="/records/view/"+record._id) Hủy