extends ../layouts/common.pug

block header
    title Thêm buổi học
block content
    h3 Thêm buổi học
    form(action="/periods/create", method="POST")
        .form-group
            label Tên
            input.form-control(name='name', type='text', required)
        .form-group
            label Ngày
            input.form-control(name='date', type='date', required)
        .form-group
            label Lớp
                .row.row-cols-4.row-cols-md-6
                    each cla in classes
                        .col
                            input.mr-2(type='checkbox', name='class[]', value=cla._id)
                            label= cla.name
        .form-group
            label Link
            input.form-control(name='link', type='url', placeholder="https://drive.google.com/file/d/TEN-FILE/view?usp=sharing", pattern="https://drive.google.com/file/d/.*")
        .form-row.row-cols-2
            .col.form-group
                label Loại
                select.form-control(name="type", required)
                    option(value='LEARN') Buổi học
                    option(value='TEST') Buổi luyện đề
            .col.form-group
                label Người đứng lớp
                select.form-control(name="instructor", required)
                    each instructor in users
                        option(value=instructor._id)= instructor.name
        .form-group
            label Ghi chú
            textarea.form-control(name="note")
        .row.row-cols-2#navbar-bottom
            .col
                button.btn.btn-primary.w-100(type='submit') Thêm
            .col
                button.btn.btn-success.w-100(onclick="window.history.back()") Quay lại