extends ../layouts/common.pug
block header
    title Xóa buổi #{period.name}
block content
    h1 Xóa buổi luyện đề
    .card.card-body.text-center
        form(action="/periods/delete", method="POST")
            h5.mb-2 Xác nhận xóa buổi #{period.type}
            .input-group.mb-3
                .input-group-prepend
                    span#inputGroup-sizing-default.input-group-text ID
                input.form-control(name="id", type='text', value= period._id, readonly)
            button.btn.btn-danger Xác nhận
            a.btn.btn-light.ml-2(href="/periods/view/"+period._id) Hủy