extends ../layouts/common.pug
block content
    h3 Đăng ký đi học trợ giảng

    form(action="/lessons/register", method="POST")
        .card#id-card.mb-2
            .card-body
                .form-group
                    label(for="id") ID học sinh
                    input#id.form-control(name="student_id", type="number", required)
                #id-note(style="display: none")
                    span
                        | Nếu em chưa biết ID của mình, em có thể tìm ID của mình tại 
                        a(href='/students', target='_blank') Danh sách học sinh
                        | . 
                        br
                        b Không tìm thấy? 
                        | Liên hệ ngay trợ giảng nhé em.
                #matched-student
        .card#time-card.mb-2
            .card-body
                .form-group
                    label(for="date") Ngày
                    input#date.form-control(name="date", type="date", min= date, required)
                .form-row.row-cols-2
                    .form-group.col-md-6.mb-2
                        label Bắt đầu
                        input.form-control(name="start_time", type="time", required)
                    .form-group.col-md-6.mb-2
                        label Kết thúc
                        input.form-control(name="end_time", type="time")
                #time-note.text-danger(style="display: none") Yêu cầu đăng ký ngày và giờ bắt đầu.
        .card#topic-card.mb-2
            .card-body
                .form-row
                    .form-group.col-md-6.mb-2
                            label Loại
                            select.form-control(name="type")
                                option(value="", hidden, selected) Loại
                                option Lý thuyết
                                option Bài tập
                    .form-group.col-md-6.mb-2
                        label(for="topic") Chủ đề
                        input#input.form-control(name="topic", type="text")
                #topic-note(style="display: none")
                    b Lý thuyết: 
                    | Nếu em muốn đến nghe giảng lại bài trên lớp.
                    br
                    b Bài tập: 
                    | Nếu em muốn đến ngồi làm bài tập tại trung tâm.
        .card#comment-card.mb-2
            .card-body
                .form-group
                    label Ghi chú của học sinh
                    textarea.form-control(name="comment_of_student")
                #comment-note(style="display: none") Em muốn dặn dò gì trợ giảng? Chuẩn bị cho em một cuốn giáo trình, tâm hồn đẹp,...
        .row.row-cols-2
            .col
                button.btn.btn-primary.w-100(type='submit') Lưu
            .col
                a.btn.btn-light.w-100(href="/lessons/registers") Hủy
block script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(type='text/javascript', src='/lesson.register.js')