extends ../layouts/common.pug
block content
    h3
        span.mr-2 Danh sách lớp học
        span.badge.badge-primary= classes.length
    if classes.length == 0
        .alert.alert-warning Không có data
    else
        table.table.table-hover.text-center
            thead
                tr
                    th Tên lớp
                    th Số học sinh
            tbody
                each cla in classes
                    tr
                        td
                            a.text-dark(href="/classes/" + cla.name)= cla.name
                        td= cla.totalStudents
    .alert.alert-warning.alert-dismissible.fade.show(role='alert')
        |  Lớp không có học sinh sẽ không hiện ở đây.
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
