extends ../layouts/common.pug
block content
    h1 Lớp #{nameClass}
    if students.length == 0
        .alert.alert-warning Không có dữ liệu.
    else
        table.table
            thead
                tr
                    th ID
                    th Name
                    th Date of Birth
                    th View
            tbody
                each student in students
                    tr
                        td= student.id
                        td= student.name
                        td
                            if (student.dob)
                                student.dob.toLocaleDateString()
                        td
                            .dropdown
                                button#dropdownMenuButton.btn.btn-light.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                    a.dropdown-item(href="/students/" + student.id) View
                                    a.dropdown-item(href="/students/edit/" + student.id) Edit
                                    a.dropdown-item(href='/students/delete/' + student.id) Delete